[caios]
type = s3
provider = Other
# NOTE: use https://cwobject.com/ if running on GPU nodes
endpoint = http://cwlota.com
access_key_id = KEY_ID
secret_access_key = KEY_SECRET
force_path_style = false
no_check_bucket = true
chunk_size = 50M
upload_concurrency = 16
